body {
  font-family: sans-serif;
  margin: 40px;
  background: #f4f4f4;
}
nav a {
  margin-right: 15px;
  text-decoration: none;
  color: blue;
}
nav a:hover {
  text-decoration: underline;
}
form input, form textarea {
  width: 300px;
}
img{
  width: 300px;
  height: auto
}